/* home page */

.homeheader {
	font-family: 'Lobster', cursive;
	color: #C1B0A0;
	font-size: 90px;
	font-weight:bold;
	text-align:center;
	text-shadow: 2px 2px #B35301;
}

.home {
	position: static;
    background: transparent;
    border-bottom: none;
    padding-top: 280px;
    padding-right: 10px;
}

.homebody {
	background-image:
	radial-gradient(
		#6C949F,
		#022A35);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav ul{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	list-style-type: none; /* removes bullets */
	text-align:center;
	font-weight: bold;


}

nav ul li {
	display: inline-block; /* gets the list items to line up side by side*/
}	
/* general css */

p a:hover{
	color: grey;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
}

input {
	font-family: 'Open Sans', sans-serif;

}	


.othernavlist {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	list-style-type: none; /* removes bullets 
	margin: 0; /* removes default margin */
	padding: 0; /* removes default padding */
	text-align:center;

}

.othernavelem {
	display: inline-block; /* gets the list items to line up side by side*/
	text-align:center;
}	

nav a:link, nav a:visited, nav a:active { /* makes all the links the same colour always */
	padding: 5px 15px;
	text-decoration: none;
	color: #1F160D;
}

/* about page */

.aboutbody {
	font-family: 'Open Sans', sans-serif;
	background-color:#265B6A;
	background-image:
	radial-gradient(
		#6C949F,
		#022A35);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aboutpara {
	margin: 15px 25px 0px 750px;
	font-family: 'Open Sans', sans-serif;
}

.hiabout {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #1F160D;
	margin:170px 25px 0px 750px;
	font-weight: bolder;
}

.aboutlinks{
	text-decoration: none;
	color: black;
}

.aboutpic{
	background-repeat:no-repeat;
	background-position: 20%;
	float: left;	
	margin: 40px 0px 0px 90px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
	font-weight: 500;
	margin: 0;
	line-height: 1;
}

h1 {
	font-size: 35px;
	font-color: black;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 20px;
	color: #DE0056;
	font-family: 'Open Sans', sans-serif;
}

header, section{
	padding: 20px 30px;
}

.aboutcontacthead{
	font-family: 'Lobster', cursive;
	color: #C1B0A0;
	font-size: 40px;
	font-weight:bold;
	text-align:center;
	text-shadow: 2px 2px #B35301;
}

.stretch {
    width:100%;
    height:100%;
}

#header {
	width: 800px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* sticky footer */


footer {
	bottom:-10;
	font-color:#120D0A;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -35px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
    height: 35px; 
}

footer p.black {
	color: black;
	font-weight:bold;
}

footer {
    clear: both;
    padding: 5px; /* adds space inside the footer */
}
footer p {
    margin: 0; /* removes default margin from paragraph */
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}

.projectsbackground{
	background-image:
	radial-gradient(
		#6C949F,
		#022A35);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.projecttitle{
	font-family: 'Open Sans', sans-serif;;
	font-size: 20px;
	color: #1F160D;
	text-align:center;
	font-weight: bolder;
}

.projectabout{
	font-family: 'Open Sans', sans-serif;
	text-align:center;

}