html {
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 9rem;
    font-weight:200;
    margin-top:20px;
}
h2 {
    font-size: 3rem;
    font-weight:200;
    padding-left:10px;
    margin-bottom:20px;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
p {
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
    color: white;
}

svg {
    margin-top: 85px;
}
.container {
    padding: 50px 100px;
}
h4 {
    display: inline-block;
    position: relative;
}
div {
    display: block;
}
ul {
    list-style-type: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    padding: 0;
}
/* BANNER 
-----------------------------------------*/
.banner {
    max-width: 100%;
    max-height: 100%;
    background: black;
    color: #ffffff;
    height: 100%;
    text-align:center;
}
.header {
    padding-top:50px;
    padding-bottom:50px;
}
.accent {
    color:#a76330;
    font-weight:400;
    font-size: 9rem;
}
.banner h1 {
    margin-bottom: 10px;
}
#scroll {
  text-align: center;
  width: 50px;
  height: 50px;
  background: #a76330;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -10px;
  margin-right: -25px;
  color: white;
  padding-top: 0px;
  font-size: 26px;
  line-height: 26px;
  cursor: pointer;
  position: absolute;
  right: 50%;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}
#scroll.clicked {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
#scroll.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(3180deg);
}
#scroll span {
  position: relative;
  bottom: -10px;
}

.arrow-bounce {
  -webkit-animation: arrow 1s infinite;
  -moz-animation: arrow 1s infinite;
  -o-animation: arrow 1s infinite;
  animation: arrow 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@-webkit-keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}
@-moz-keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}
@keyframes arrow {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}

/* ABOUT
-----------------------------------------*/

.about {
    padding-top: 80px;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/sanfran-gray.jpg');
    background-attachment: fixed;
    color: #a76330;
    text-align: center;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: -200;
    text-align: center;
}
.aboutbox {
    width: 650px;
    margin: 0 auto;
}

.about p a {
    text-decoration: underline;
    color: #a76330;
    font-weight: bold;
    font-size: 1rem;
}
.about p a:hover {
    color: #a76330;
    text-decoration: underline;
}
/* SKILLS
-----------------------------------------*/

.skills {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    z-index: 0;
    background-color: #363635;
    text-align: center;
}
.skillgen {
    text-align: center;
    list-style-type: none;
}
.skillheader {
    color: #a76330;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.skillalign {
    width: 300px;
    float: left;
}
li ul li a {
    color: whitesmoke;
    text-decoration: none;
}
 li ul li a:hover {
    color: #a76330;
}
/* PROJECTS
-----------------------------------------*/

.mobile-projects {
    visibility: hidden;
}
.projects {
    text-align: center;
    background: url('../images/tile2.png');
}
.projectheader {
    padding: 0;
    color: black;
    text-decoration: underline
}
.view {
    color: black;
}
.aboutproject {
    color: black;
    text-align: center;
}
h5 {
    font-size: 1.5rem;
}
h5 a:hover {
    color: #a76330;
}
.projects li {
    padding: 0;
}
.projects li ul {
    padding: 0;
}
h3 a {
    color: black;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: block;
    width: 500px;
    vertical-align: middle;
}
.mobile-projectlist {
    visibility: visible;
}

.project-link{
    text-decoration:none;
    color:#333333;
    font-weight:bold;
}
.menu-proj li:hover a{
    color:#a76330;

}

/* CONTACT 
-----------------------------------------*/

.contact {
    text-align: center;
    background-color: whitesmoke;
}
.contact img {
    margin: 0px;
    width: 15%;
}
p span {
    color: #a76330;
    font-weight: bolder;
}



/*Media Queries*/
@media (max-width: 1310px) {
    .skillalign {
        padding: 0;
    }
    .skills {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .projects {
        text-align: center;
    }
    .contact img {
        width: 23%;
        height: 23%;
    }
}
@media (max-width: 920px) {
    .banner {
        max-height: 100%;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-attachment: local;
    }
    .skillalign {
        width: 190px;
        padding-left: 0;
        padding-right: 0;
    }
    .projects {
        max-width: 100%;
        height: 500px;
    }

    a {
        font-size: 1rem;
    }
    .banner {
        width: 100%;
        height: 800px;
    }
    .banner h1 {
        padding-top: 225px;
        font-size: 3rem;
    }
    img.profile {
        width: 200px;
        height: 200px;
    }
    .container {
        padding: 50px;
    }
    h3 a {
        font-size: 0.85rem;
    }
    .contact img {
        width: 20%;
        height: 20%;
    }
}
@media (max-width: 720px) {
    h1 {
        padding-left: 40px;
        line-height: 2.6rem;
    }
    .skillalign {
        width: 170px;
    }
    p {
        font-size: 1rem;
        padding-top: 0px;
        padding-right: 0;
        padding-left: 2%;
        margin-top: 20px;
    }
    .projects h2 {
        padding-top: 10px;
    }
    
    .aboutbox {
        width:auto;
    }
    .about .container {
        padding:0;
    }
     .banner h1 {
        font-size:2.5rem;
    }
}

@media (max-width: 670px) {
    .banner {
        max-height: 100%;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-attachment: local;
    }
    .skillalign {
        width: 170px;
        padding-left: 0;
        padding-right: 0;
    }
    .projects {
        max-width: 100%;
        height: 200px;
    }
    .mobile-projects {
        visibility: visible;
    }
    .projectheader {
        visibility: hidden;
    }
    a {
        font-size: 1rem;
    }
    .banner {
        width: 100%;
        height: 450px;
    }
    .banner h1 {
        padding-top: 100px;
        font-size: 2.5rem;
    }
    img.profile {
        width: 200px;
        height: 200px;
    }
    .container {
        padding: 10px 10px;
    }
    .aboutproject {
        width: 300px;
        height: 60px;
    }
    .github-mobile {
        text-decoration: underline;
        font-weight: bold;
        color: #333333;
        font-size: 1rem;
    }
    .mobile-projects a:hover {
        color: #a76330;
    }
    h3 a {
        font-size: 0.85rem;
    }
    .contact img {
        width: 20%;
        height: 20%;
    }
}

@media (max-width: 580px) {
    html {
        overflow-x: hidden;
    }
    body {
        max-width: 100%;
    }
    .nav {
        visibility: hidden;
    }
    .menu {
        visibility: hidden;
    }
    .mobile-nav {
        visibility: visible;
        background-color: #a76330;
    }
    .mobile-nav img {
        width: 150px;
        padding-left: 10px;
        padding-top: 5px;
    }
    img.hamburger {
        visibility: visible;
        width: 35px;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .mobile-nav ul {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: #a76330;
        margin-top: 0;
        margin-right: 0;
        list-style-type: none;
        display: none;
    }
    .mobile-nav li {
        width: 100%;
        height: 40px;
    }
    .mobile-nav li a {
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -27px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: white;
    }
    .mobile-nav a:hover {
        color: #003E3E;
    }
    .banner {
        max-height: 100%;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-attachment: local;
    }
    h1 {
        padding-left: 0px;
    }
    .banner img {
        margin-left: 32%;
        display: none;
    }
    .about {
        text-align: left;
    }
    .about img {
        width: 25%;
        height: 25%;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0px;
    }
    .nav ul li a {
        padding-left: 0px;
    }
    .projects ul li .proj-img {
        visibility: hidden;
    }
    .projects {
        max-width: 100%;
        height: 175px;
        overflow: hidden;
    }
    .projectheader {
        font-size: 1rem;
    }
    .projectdesc {
        font-size: 0.85rem;
        padding-left: 0px;
    }
    .aboutproject {
        width: 310px;
        height: 250px;
        text-align: center;
    }
    .mobile-projects {
        visibility: visible;
    }
    .projectheader {
        visibility: hidden;
    }
    .mobile-projectlist {
        visibility: visible;
    }
    .projects ul {
        visibility: hidden;
    }
    .projects li {
        height: 40px;
        padding: 0;
    }
    .skillalign-mob {
        width: 170px;
    }
    a {
        font-size: 1rem;
    }
    .aboutbox {
        display: block;
        text-align: center;
        max-width: 100%;
    }
    .banner {
        width: 100%;
        height: 450px;
    }
    .banner h1 {
        padding-top: 85px;
    }
    img.profile {
        width: 190px;
        height: 190px;
    }
    .aboutbox {
        padding-top: 15px;
    }
    .container {
        padding: 10px 10px;
    }
    .aboutproject {
        width: 300px;
        height: 60px;
    }
    .github-mobile {
        text-decoration: underline;
        color: #333333;
        font-size: 1rem;
    }
    h3 a {
        font-size: 0.85rem;
    }
    .contact img {
        width: 20%;
        height: 20%;
    }
    #skill1 {
        padding-top: 5px;
    }
    #list1 {
        padding-top: 16px;
    }
}
@media (max-width: 550px) {
    .skills img {
        width: 50px;
        height: 50px;
    }
    .skillalign {
        width: 140px;
    }
    #skill1 {
        padding-top: 5px;
    }
    #list1 {
        padding-top: 1px;
    }
    .skillalign-mob {
        width: 170px;
    }

    .skillgen ul {
        padding-bottom:15px;
    }

    .contact img{
        width:22%;
        height:22%;
    }
    .projects {
        max-width:100%;
        height:210px;
        overflow:hidden;
    }
}

@media (max-width: 215px) {
    .banner h1 {
        font-size: 1.85rem;
    }

    p {
        font-size:0.85rem;
    }

    a {
        font-size:0.85rem;
    }

    body {
        font-size: 0.85rem;
    }

    .github-mobile {
        font-size:0.85rem;
    }
    .projects {
        max-width:100%;
        height:auto;
        overflow:hidden;
    }
}