/* home page */

.homeheader {
	font-family: 'Verdana', sans-serif;
	color: white;
	font-size: 90px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.homeheader2{
	font-family: 'Verdana', sans-serif;
	color: white;
	font-size: 30px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.home {
	position: static;
    background: transparent;
    border-bottom: none;
    text-align: center;
    padding-top: 250px;
    padding-right: 5px;
}

.homebody {
	font-family: 'Verdana', sans-serif;
	background-image: url('../images/sav-background.jpg');
	background-repeat:no-repeat;
	background-position: 100%;
	background-size: cover;
}


/* general css */

p {
	font-family: 'Verdana', sans-serif;
}

input {
	font-family: 'Verdana', sans-serif;
	float: right;
}


nav ul {
	font-family: 'Verdana', sans-serif;
	font-size: 18px;
	list-style-type: none; /* removes bullets */
	margin: 0; /* removes default margin */
	padding: 0; /* removes default padding */
	float: right;
}

nav ul li {
	display: inline-block; /* gets the list items to line up side by side*/
	float:right;
}	

nav a:link, nav a:visited, nav a:active { /* makes all the links the same colour always */
	padding: 5px 15px;
	text-decoration: none;
	color: #000000;
}


.highlight {
	color: #DE0056;
}

/* contact page */



.contactbody {
	font-family: 'Verdana', sans-serif;
	font-size: 14px;
	background-repeat:no-repeat;
	background-position: 50%;
	background-size: cover;
	background-image: url('../images/contact.jpg');
}

.boxed {
 	border: none;
	background-color:rgba(255,255,255,.6);
	display: table;
	padding: 4px;
	margin: 87px 300px 110px 480px;
}

/* about page */

.aboutbody {
	font-family: 'Verdana', sans-serif;
	
	}

.aboutpara {
	
	margin: 15px 25px 0px 750px;
	
}

.hiabout {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
	color: #DE0056;
	margin: 45px 25px 0px 800px;
}

.aboutlinks{
	text-decoration: none;
	color: black;
}

.aboutpic{
	background-repeat:no-repeat;
	background-position: 10%;
	float: left;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
	font-weight: 500;
	margin: 0;
	line-height: 1;
}

h1 {
	font-size: 35px;
	font-color: black;
	font-family: 'Verdana', sans-serif;
}

h2 {
	font-size: 20px;
	color: #DE0056;
	font-family: 'Verdana', sans-serif;
}

header, section{
	padding: 20px 30px;
}

.aboutcontacthead{
	border-bottom: 1px #DE0056 solid;
	padding-bottom: 20px;
}

.stretch {
    width:100%;
    height:100%;
}
      background-color: white;
      background: url('../images/sav-background.jpg');
      background-size: contain;
      background-size: 1700px 700px;
      background-repeat: no-repeat;

#header {
	width: 800px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* sticky footer */


footer {
	position: fixed;
	bottom:0;
	left:0;
}

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -35px; /* must be the same height as footer */
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
    height: 35px; /* however tall you want the footer to be */
}
footer {
    color: white;
}

footer {
    clear: both;
    padding: 5px; /* adds space inside the footer */
}
footer p {
    margin: 0; /* removes default margin from paragraph */
}

