<div class="container">
  <h2>A To-Do List Web App</h2>
  <h3>This is a web application built using Yeoman and its Angular.js generator. You can add, delete and manually sort entries in the list. Additionally, this list is smart and can remember your entries for the next time you visit the page!</h3>
   <!-- Todos input -->
     <form role="form" ng-submit="addTodo()">
       <div class="row">
         <div class="input-group">
           <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
           <span class="input-group-btn">
             <input type="submit" class="btn btn-primary" value="Add">
           </span>
         </div>
       </div>
       <br>

       <!-- Todos list -->
       <!-- Todos list -->
      <div ui-sortable ng-model="todos">
       <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
         <input type="text" ng-model="todo" class="form-control">
         <span class="input-group-btn">
           <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
         </span>
       </p>
     </form>
   </div>
</div>
